### Задание №1

In [28]:
!pip install biopython

In [28]:
from Bio import SeqIO, Seq
GC = (seq_record.seq.count('C') + seq_record.seq.count('G'))/(seq_record.seq.count('C') + seq_record.seq.count('G') + seq_record.seq.count('A') + seq_record.seq.count('T')) * 100
print(f"GC-состав:{GC}%\nКоличество каждого нуклеотида:")
for seq_record in SeqIO.parse('sequence.fasta', 'fasta'):
    print(f"A-{seq_record.seq.count('A')}\n",f"T-{seq_record.seq.count('T')}\n", f"G-{seq_record.seq.count('G')}\n",f"C-{seq_record.seq.count('C')}" )

GC-состав:40.02523486333147%
Количество каждого нуклеотида:
A-7886192
 T-7956168
 G-5286894
 C-5285789

### Задание №2

In [30]:
!pip install pyranges
import pyranges as pr

In [43]:
def overlap(fb_1_path, fb_2_path):
  return pr.read_bed(fb_1_path).overlap(pr.read_bed(fb_2_path))

overlap(pr.get_example_path('aorta.bed'), pr.get_example_path('aorta2.bed'))

+--------------+-----------+-----------+------------+-----------+--------------+
| Chromosome   | Start     | End       | Name       | Score     | Strand       |
| (category)   | (int32)   | (int32)   | (object)   | (int64)   | (category)   |
|--------------+-----------+-----------+------------+-----------+--------------|
| chr1         | 9939      | 10138     | H3K27me3   | 7         | +            |
| chr1         | 9953      | 10152     | H3K27me3   | 5         | +            |
| chr1         | 10024     | 10223     | H3K27me3   | 1         | +            |
| chr1         | 10246     | 10445     | H3K27me3   | 4         | +            |
| ...          | ...       | ...       | ...        | ...       | ...          |
| chr1         | 9978      | 10177     | H3K27me3   | 7         | -            |
| chr1         | 10001     | 10200     | H3K27me3   | 5         | -            |
| chr1         | 10127     | 10326     | H3K27me3   | 1         | -            |
| chr1         | 10241     | 10440     | H3K27me3   | 6         | -            |
+--------------+-----------+-----------+------------+-----------+--------------+
Stranded PyRanges object has 10 rows and 6 columns from 1 chromosomes.
For printing, the PyRanges was sorted on Chromosome and Strand.